{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Понравившиеся{% endblock %}
{% block content %}
<section class="container-xxl mt-4">
    {% with favorites|first as v %}
    <img src="{{v.thumbnail.url}}"
         class="card-img-top img-fluid h-100 object-fit-cover" style="max-height: 170px;" alt="...">
    {% endwith %}
    <h1>Понравившиеся</h1>
    <p>{{favorites.count}} Видео</p>
    {% for h in favorites %}
    <div class="bg-white rounded-2 overflow-hidden shadow-sm mt-3">
            <div
                   class="col link-underline link-underline-opacity-0">
                    {{h.video}}
                    {% include 'elements/playlist_video_card.html' with video=h %}
            </div>
    </div>
    {% endfor %}
</section>
{% endblock %}