{% extends 'base.html' %}
{% load static %}
{% load user_extras %}
{% load humanize %}
{% block title %}{{video.name}}{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
<div class="modal fade" id="commentModal" data-bs-backdrop="static"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="commentModalLabel">Изменить комментарий</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="edit-comment-form col-12">
                    <form method="POST" action="{% url 'update_comment' %}" id="edit-comment-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" name="comment_id" value="" />
                            <textarea class="form-control" name="new_text" rows="4" cols="50" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="row m-0 mt-3">
    <!-- видео -->
    <section class="col ms-0">
        <div class="">
            {% if video %}
            <video class="w-100 bg-dark" style="max-height: 70vh;" poster="{{video.thumbnail.url}}" autoplay="autoplay"
                preload="auto" loop="loop" controls="controls" controlsList="nodownload" tabindex="0" data-setup="{}">
                <source src="{% url 'stream' pk=video.pk %}" type="video/mp4">
                <source src="{% url 'stream' pk=video.pk %}" type="video/webm">
                Ваш браузер не поддерживает воспроизведение видео.
            </video>

            <div class="row">
                <div class="col">
                    <h1>{{video.name}}</h1>
                    <!-- описание -->

                </div>
                <div class="col-auto">
                    <button class="h-auto btn like  btn-light bg-secondary-subtle">
                        <i
                            class="bi {% if request.user in video.likes.all %}bi-heart-fill text-danger{% else%}bi-heart{% endif %}"></i>
                        <span>
                            {{video.total_likes}}
                        </span>
                    </button>
                    <button class="h-auto btn dislike  btn-light bg-secondary-subtle">
                        <i class="bi {% if request.user in video.dislikes.all %}bi-heartbreak-fill {% else%}bi-heartbreak{% endif %}"></i>
                    </button>
                    <button class="btn btn-light bg-secondary-subtle">
                        <i class="bi bi-eye"></i>
                        {{video.view_count}}
                    </button>
                </div>
                <div class="col-12">
                    <div>{{video.view_count}} {{video.view_count|ru_plural:"просмотр,просмотра,просмотров"}} ●
                        {{video.date_published|naturaltime|truncate_naturaltime}}
                    </div>
                    <p class="text-pre-line">{{video.description}}</p>
                </div>
            </div>
            {% else %}
            danger($title);
            {% endif %}
        </div>
        <!-- комментарии -->
        <div>
            <!-- Добавляем уникальный идентификатор для количества комментариев -->
            <div class="d-flex justify-content-between flex-wrap">
                <p>Комментариев:
                    <span id="comments-count">{{ video.comments.all.count }}</span>
                </p>
                <button class="btn btn-primary button_toggle d-block d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#comment_collapse" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-chevron-up"></i>
                </button>
            </div>
            <div class="mb-3">
                {% if user.is_authenticated %}
                <form id="comment-form" method="post" action="{% url 'create_comment' pk=video.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="comment" class="form-label">Оставить комментарий:</label>
                        <textarea name="comment" id="comment" class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                {% else %}
                <div>Войдите чтоб оставлять комментарии</div>
                {% endif %}
            </div>
            <div class="collapse show" id="comment_collapse">

                <!-- Добавляем уникальный идентификатор для контейнера комментариев -->
                <div class="d-flex flex-column gap-2 py-2 " id="comments-container">
                    {% for comment in video.comments.all|dictsortreversed:"created_at" %}
                    <div class="border rounded-3 p-2 w-100 row m-0" id="comment_{{comment.id}}">
                        <div class="col">
                            <div class="">
                                <span class="fw-bold">{{ comment.user }}</span> <span class="text-secondary">
                                    {{comment.created_at|naturaltime|truncate_naturaltime }}
                                </span>
                            </div>
                            <div class="ps-3 comment_text">{{ comment.text }}</div>
                        </div>
                        {% if user == comment.user %}
                        <div class="col-auto">
                            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                                    class="bi bi-three-dots-vertical"></i></button>
                            <ul class="dropdown-menu">
                                <li>

                                    <button class="btn edit-comment-btn" data-id="{{ comment.id }}"
                                        data-bs-toggle="modal" data-bs-target="#commentModal">
                                        <i class="bi bi-pencil"></i>
                                        Изменить
                                    </button>
                                </li>
                                <li>
                                    <button class="btn delete-comment-btn" data-id="{{ comment.id }}">
                                        <i class="bi bi-trash"></i> Удалить
                                    </button>
                                </li>
                            </ul>
                        </div>
                        {% endif %}


                    </div>
                    {% empty %}
                    Пока нет комментариев
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>
    <!--  реки и плейлист  -->
    <aside class="col-12 col-lg-3">
        {% for playlist in playlist %}
        <h2>{{ playlist.name }}</h2>

        {% for video in playlist.videos.all %}
        {% include 'elements/aside_video.html' %}
        {% endfor %}

        {% endfor %}
        {% for video in video_list %}
        {% include 'elements/aside_video.html' %}
        {% endfor %}
    </aside>
</section>
{% endblock %}
{% block extra_body %}
<script src="{% static 'js/comment_update.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.btn.like').click((e) => {
            $.ajax({
                url: "{% url 'like_video' pk=video.id %}",
                method: 'get',
                success: res => {
                    if (res.is_auth) {
                        console.log(res)
                        $('.like i').toggleClass('bi-heart bi-heart-fill text-danger')
                        $('.like span').html(res.total_likes)
                        $('.dislike i').removeClass('bi-heartbreak-fill').addClass('bi-heartbreak')
                    } else {
                        alert("Доступно для авторизованных")
                    }

                }
            });

        })
        $('.btn.dislike').click((e) => {
            $.ajax({
                url: "{% url 'dislike_video' pk=video.id %}",
                method: 'get',
                success: res => {
                    if (res.is_auth) {
                        console.log(res)
                        $('.dislike i').toggleClass('bi-heartbreak bi-heartbreak-fill')
                        console.log(res.total_likes)
                        $('.like  span').html(res.total_likes)
                        $('.like i').removeClass('bi-heart-fill text-danger').addClass('bi-heart')
                    } else {
                        alert("Доступно для авторизованных")
                    }

                }
            });

        })
    })
</script>
{% endblock %}