{% load user_extras %}
{% load humanize %}
<a href="{% url 'playlist_video' pk=video.id pk_list=playlist.id %}" class="text-decoration-none">
    <div class="card mb-3 overflow-hidden">
        <div class="col">
            <div class="row row-cols-2 g-0">
                <div class="col-md-4  overflow-hidden position-relative " style="max-height: 170px;">
                    <div class="position-relative d-flex  bg-secondary overflow-hidden">
                        <img
                                src="{{video.thumbnail.url}}"
                                height="170"
                                class="position-absolute card-img-top  opacity-75 z-0 top-0 left-0 w-100 h-100"
                                style="filter: blur(20px); transform: scale(1.1);" alt="image_{{video.id}}">
                        <img
                                src="{{video.thumbnail.url}}"
                                height="170" class="card-img-top object-fit-contain  z-1 "
                                alt="image_{{video.id}}">
                    </div>
                    <span
                            class="badge rounded-pill text-bg-dark bg-opacity-50 position-absolute bottom-0 end-0 m-2 z-1">{{video.duration}}</span>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">
                        <span class=""
                              style="-webkit-line-clamp: 2;    display: -webkit-box;    -webkit-box-orient: vertical;    overflow: hidden;">
                            {{video.name}}
                        </span>
                        </h6>

                        <p class="card-text small text-truncate">
                            {{video.date_published|naturaltime|truncate_naturaltime}} ● {{video.view_count}}
                            {{video.view_count|ru_plural:"просмотр,просмотра,просмотров"}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</a>